*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

/********** nav secion ************************************************************************/
nav{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color: whitesmoke;
}

.logo{
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 700;

}


.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
    
}
.nav-links li{
    
    
}
.nav-links li a{
    text-decoration: none;
    color: black;
}
.nav-links a:hover{
    color: gray;
    transform: translateY(5px);
}

.nav-links a.active{
    color: tomato;
}

.ham div{
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}
.ham{
    cursor: pointer;
    display: none;
}

/* sub header *********************************/

.iconbar{
   
    border: 1px solid red;
    display: block;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 30px;
    
    
}

.sub-header{
    background-image: url("images/Rectangle\ 48.png");
    height: 80vh;
}

.center{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    color:beige;
}

.inline-btn{
    display: inline;
}

.red-btn{
    background-color: rgb(243, 46, 11);
    
}

.trans-btn{
    background: none;
}

.red-btn:hover,.trans-btn:hover{
    opacity: 80%;
}

.red-btn:focus, .trans-btn:focus{
    opacity: 50%;
}

button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    color: aliceblue;

}
.lite-p{
    font-size: 22px;
    font-weight: 500;
}

/************ Main content **********************************************************/

.phone{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone img{
    position: absolute;
    top: -150px;
}
.hr{
    margin: 600px auto 50px auto; 
    width: 50%;
}
.hrm{
    margin: 50px auto 50px auto; 
    width: 90%;
    display: none;

}
.h2b{
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    color: rgb(27, 27, 27);
}

/* create account section ************************************************************/

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-inverse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.acc-left{

}
.right{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.p-tomato{
    font-weight: bold;
    color: tomato;
}

.h2-text{

}
.p-text{
    color: rgb(77, 75, 75);
}

/* Varieties Section ******************************************************/


/* ************************************************************************ */

/* checkout *************************************************************** */
.checkout{
    
}

.down-layer{
    background-image: url("images/Rectangle 47.png");
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;

}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons{
    display: flex;
    width: 200px;
    justify-content: space-between;
    font-size: 30px;
    color: tomato;
}

.d-block{
    display: block;
}
.d-none{
    display: none;
}

@media (min-width: 765px) and (max-width: 968px){
    .sub-header{
        height: 53vh;
    }
    .sub-header{
        background-repeat: no-repeat;
    }

}

@media (max-width:576px){
    body{
        overflow-x: hidden;
    }

    /* nav section******************* */
    .ham{
        display: block;
    }
    /* nav link list mobile style declaration */
    .nav-links{
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        background-color: #19251f;
        color: beige;
        height: 60vh;
        justify-content: start;
        align-items: center;
        gap: 40px;
        padding-top: 20px;
        transform: translateX(100%);
        transition: 0.5s ease-out;
    }
    .nav-links li a{
        color: beige;
        padding: 0 25px;
        transition: all 0.5s ease;
    }

    .nav-links a:hover{
        color: gray;
        transform: translateY(5px);
        font-size: 16px;
    }
    
    .nav-links a.active{
        color:cyan;
        font-weight: 800;
    }

    /* toggle class to call back the link list */
    .nav-active{
        transform: translateX(0%);
    }


    /* Fade in list link animation using keyFrames linked to app.js */
    .nav-links li{
        opacity: 0px;
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translate(0px);
        }

    }

    /* Ham menu toggle X */
    .toggle .bar1{
        transform: rotate(-45deg) translate(-7px,7px);
    }
    .toggle .bar2{
        opacity: 0;
    }
    .toggle .bar3{
        transform: rotate(45deg) translate(-7px,-7px);
    }

/* -----------------------NAV END-------------------------------------- */
    

    /* Subheader section */
    .d-block{
        display: none;
    }
    .d-none{
        display: block;
    }

    .sub-header{
        background-image: none;
        height: auto;
    }
    .center{
        gap: 20px;
        color: black;
        padding-top: 30px;
    }
    
    .lite-black{
        color: rgb(82, 81, 81);
        font-size: 25px;
    }
    .lite-p{
        font-size: 25px;
        font-weight: 600;
        color: rgb(82, 81, 81);

    }
    .bold{
        font-weight: 800;
        font-size: 30px;
    }

    .br{
        display: none;
    }

    .phone{
        position: static;
        margin-top: 0px;
        width: 100%;
    }
    .phone img{
        position: static;
        width: 90%;
        
        
    }
    
    
    .btn button{
        display: block;
        margin-top: 20px;
        width: 150px;
        height: 50px;
        font-weight: 700;
        font-size: 20px;
        border-radius: 25px;
    }
    .trans-btn{
        color: tomato;
        border: 1px solid tomato;
        
    }

    .hr{
        display: none;
    }
    .hrm{
        display: block;
    }
    .h2b{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: rgb(27, 27, 27);
    }

    /* ********* create acc section*/
    .section{
        flex-direction: column-reverse;
        padding-left: 10px;
        padding-right: 10px;

    }
    .section-inverse{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .right{
        text-align: center;
        gap: 60px;
    }

    .p-tomato{
        font-weight: bold;
        color: tomato;
        font-size: 30px;
    }
    
    .h2-text{
        font-size: 40px;
    
    }
    .p-text{
        color: rgb(77, 75, 75);
        font-size: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    br{
        display: none;
    }

    /********** Download section*********************************** */

    .down-layer{
        background-image: none;
        background-color: rgb(29, 24, 36);
        height: auto;
        padding-top: 80px;
        padding-bottom: 100px;
        gap: 30px;
    }

    .d-no{
        display: none;
    }

    footer{
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 20px;
    }

    .icons{
        font-size: 40px;
    }

    


}




